@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Ensure Mantine styles are properly applied */
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* DropZone Style */
.dropzone-dashed {
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  transition: border-color 0.3s ease-in-out;
}

.dropzone-dashed:hover {
  border-color: #007bff;
}

/* Style de page inscription */
.logo {
  text-shadow: 1px 1px 1px black;
  color: rgb(74, 255, 46);
}